body {
    height: 100vh;
}

/* opening --------------------------------------------------------------------- */

.opening {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    /* overflow-x: hidden; */
    /* position: absolute; */
}

/* .opening__content {
    position: absolute;
    left: 100px;
    display: block;
} */

.opening__container {
    position: absolute;
    top: 100px;
    left: 100px;
    display: block;
}

.opening__header {
    color: #333;
    font-size: 50px;
    max-width: 600px;
    line-height: 70px;
    /* position: absolute;
    left: 100px;
    top: 100px; */
}

.opening__description {
    color: #666;
    /* position: absolute;
    left: 100px; */
    max-width: 400px;
    line-height: 30px;
    margin: 20px 0 30px;
}

.opening__btn {
    /* position: absolute;
    left: 100px;
    top: 400px; */
}

.btn {
    border: none;
    padding: 16px 48px;
    border-radius: 200px;
    font-weight: 600;
    /* font-size: 20px; */
    outline: none;
    cursor: pointer;
}

.btn + .btn {
    margin-left: 20px;
}

.opening__start-btn, .opening__more-btn {
    background: #fff;
    color: #333;
}

.opening__more-btn:hover, .opening__start-btn:hover {
    background: #333;
    color: #fff;
    transition: ease .2s;
}

.opening::before {
    content: '';
    width: 30px;
    height: 30px;
    /* background: #fff; */
    border: 4px solid #fff;
    position: absolute;
    top: 100px;
    right: 160px;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@media (max-width: 800px){
    .opening::before {
        display: none;
    }
}

.opening__suggest {
    /* position: absolute;
    left: 130px;
    top: 460px; */
    display: flex;
    /* justify-content: center; */
    margin-left: 30px;
    align-items: center;
}

.opening__suggest-image {
    width: 100px;
    color: #333;
    margin-top: 30px;
    cursor: pointer;
}

.opening__suggest-image + .opening__suggest-image {
    margin-left: 35px;
}

/* * opening --------------------------------------------------------------------- */ 


/* scroll bar -------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* scroll bar -------------------------------------------------------------------- */


/* usage -------------------------------------------------------------------------- */

.usage {
    /* background: rgb(235, 235, 235); */
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.usage .usage__header {
    color: #333;
    font-size: 40px;
    max-width: 300px;
    line-height: 70px;
    text-align: center;
    margin-top: 0px;
    margin: 100px auto;
}

.usage .usage__card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 100px;
}

.usage .usage__card {
    width: 250px;
    /* margin: 30px 100px; */
    padding: 15px;
    box-sizing: border-box;
    color: #333;
    background: whitesmoke;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.usage__card-icon {
    margin-bottom: 30px;
    font-size: 17px;
}

.usage__card-button {
    margin-top: 30px;
}

.usage__card-title {
    font-size: 23px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.usage__card-content {
    color: #888;
    margin: 0;
    white-space: center;
}

.usage__card:hover {
    border-bottom: 5px solid #666;
    transition: ease 200ms;
    box-shadow: 5px 6px 5px 6px rgba(0, 0, 0, 0.08);
    background: white;
    box-sizing: border-box;
}

/* usage -------------------------------------------------------------------------- */


/* project ------------------------------------------------------------------------ */

.project {
    background: url(https://t4.ftcdn.net/jpg/04/46/45/09/360_F_446450942_Pso7nJwc4hzV00LoF2V07msKtpI9OeLl.jpg);
    height: fit-content;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.project__header {
    margin: 70px auto;
    font-size: 40px;
    margin-bottom: 120px;
}

.project__container {
    display: flex;
    margin: 20px;
}

.project__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.project__image {
    flex: 1;
    /* margin: 20px; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__image .image {
    width: 60%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.project__container .project__title {
    font-size: 35px;
    margin: 0;
}

.project__content {
    color: #888;
    margin-bottom: 30px;
}

.project__point-btn {
    border-radius: 50%;
    border: transparent;
    outline: none;
    padding: 7px;  
    width: 30px;
    height: 30px;
    text-align: center;
    /* background: #888; */
    font-size: 17px;
    box-sizing: border-box;
    color: whitesmoke;
    /* color: transparent; */
    cursor: pointer;
}

.project__point-btn:hover {
    background: rgb(233, 232, 232);
    transition: 200ms;
    color: #333;
}

.image--sky {
    background: url(http://media.idownloadblog.com/wp-content/uploads/2018/09/iPhone-XR-advertising-wallpaper-any-iPhone-X-1.png)
}

.image--star {
    background: url(https://www.whatspaper.com/wp-content/uploads/2021/05/iphone-wallpaper-whatspaper-8.jpg);
}

.image--flower {
    background: url(https://media.idownloadblog.com/wp-content/uploads/2019/10/Fall-leaves-iPhone-wallpaper-wallsbyjfl-5.jpg)
}

.image--led {
    background: url(https://media.idownloadblog.com/wp-content/uploads/2021/09/Light_Beams_Blue_Light-iPhone-13-Pro-official-apple-wallpaper.jpg);
}




















